:root {
  --primary: #009B3A;
  --secondary: #FED100;

  --03-css-variables-base: #ffff00;
  --03-css-variables-spacing: 10px;
  --03-css-variables-blur: 1px;

  --08-fun-with-html5-canvas-border-color: rgba(124, 124, 124, 0.5);
}
