.sort-articles {
  background: url("https://source.unsplash.com/nDqA4d5NL0k/2000x2000");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#bands {
  list-style: inside square;
  background: white;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.05);
}

#bands >>> li {
  border-bottom: 1px solid #efefef;
  padding: 5px 10px;
}

#bands >>> li:last-child {
  border-bottom: 0;
}

a {
  color: #ffc600;
  text-decoration: none;
}
